.$*$
.*
*.*~
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bak
*.bbl
*.blg
.bundle
coverage/
doc/yardoc/
*.dvi
*.fdb_latexmk
*.fls
*.gem
!.git*
*.glg
*.glo
*.gls
*.htm
*.html
*.idx
*.ilg
*.ind
*.ist
*.loc
*.lof
*.log
*.log
*.lol
*.lot
*.nlo
*.nls
nohup*
*.old
*.out
pkg/
pkg/*
.rvmrc
*.s??
*.s*p
*.synctex.gz*
*.tex.meta
*.toc
.yardoc
tmp/
*.pdf
!doc/*/*.pdf
*.pid
